@use 'sass:string';

$font-max: 5;
$font-number: 0;
$font-decimal: 0;
$font-decimal-inc: 1;

@mixin fontGen($prefix, $number, $decimal) {
  @if($decimal > 0) {
    .#{$prefix}font-#{$number}p#{$decimal} { font-size: string.unquote("#{$number}.#{$decimal}rem"); }
  } @else {
    .#{$prefix}font-#{$number} { font-size: #{$number}rem; }
  }
}

@mixin font($prefix) {
  @while($font-number <= $font-max) {
    @include fontGen($prefix, $font-number, $font-decimal);
    @while($font-decimal < 10 and $font-decimal-inc > 0) {
      $font-decimal: $font-decimal + $font-decimal-inc;
      @if($font-decimal != 10) {
        @include fontGen($prefix, $font-number, $font-decimal);
      }
    }

    $font-number: $font-number + 1;
  }
}
