@use 'sass:math';

$font-max: 5;
$font-increment: 0.1;
$font-start: 0;

@mixin fontGen($prefix, $number, $decimal, $val) {
  @if($decimal > 0 and $decimal < 10) {
    .#{$prefix}font-#{$number}p#{$decimal} { font-size: #{$val}rem; }
  } @else if($decimal == 10) {
    .#{$prefix}font-#{$number + 1} { font-size: #{$val}rem; }
  } @else {
    .#{$prefix}font-0 { font-size: 0rem; }
  }
}

@mixin font($prefix) {
  @while($font-start <= $font-max) {
    $decimal: $font-start * 10 % 10;
    $number: math.floor($font-start);

    @include fontGen($prefix, $number, $decimal, $font-start);
    $font-start: $font-start + $font-increment;
  }
}
