@use 'sass:string';

$grid-max: 5;
$grid-number: 0;
$grid-decimal: 0;
$grid-decimal-inc: 1;

@mixin gridGen($prefix, $number, $decimal) {
  @if($decimal > 0) {
    .#{$prefix}gap-#{$number}p#{$decimal} { grid-gap: string.unquote("#{$number}.#{$decimal}rem"); }
  } @else {
    .#{$prefix}gap-#{$number} { grid-gap: #{$number}rem; }
  }
}

@mixin gridGap($prefix) {
  @while($grid-number <= $grid-max) {
    @include gridGen($prefix, $grid-number, $grid-decimal);
    @while($grid-decimal < 10 and $grid-decimal-inc > 0) {
      $grid-decimal: $grid-decimal + $grid-decimal-inc;
      @if($grid-decimal != 10) {
        @include gridGen($prefix, $grid-number, $grid-decimal);
      }
    }

    $grid-number: $grid-number + 1;
  }
}
