@use 'sass:string';

$padding-max: 20;
$padding-number: 0;
$padding-decimal: 0;
$padding-decimal-inc: 1;

@mixin paddingGen($prefix, $number, $decimal) {
  @if($decimal > 0) {
    .#{$prefix}pt-#{$number}p#{$decimal} { padding-top: string.unquote("#{$number}.#{$decimal}vh"); }
    .#{$prefix}pb-#{$number}p#{$decimal} { padding-bottom: string.unquote("#{$number}.#{$decimal}vh"); }
    .#{$prefix}pl-#{$number}p#{$decimal} { padding-left: string.unquote("#{$number}.#{$decimal}vw"); }
    .#{$prefix}pr-#{$number}p#{$decimal} { padding-right: string.unquote("#{$number}.#{$decimal}vw"); }
    .#{$prefix}p-#{$number}p#{$decimal} { padding: string.unquote("#{$number}.#{$decimal}rem"); }
  } @else {
    .#{$prefix}pt-#{$number} { padding-top: #{$number}vh; }
    .#{$prefix}pb-#{$number} { padding-bottom: #{$number}vh; }
    .#{$prefix}pl-#{$number} { padding-left: #{$number}vw; }
    .#{$prefix}pr-#{$number} { padding-right: #{$number}vw; }
    .#{$prefix}p-#{$number} { padding: #{$number}rem; }
  }
}

@mixin padding($prefix) {
  @while($padding-number <= $padding-max) {
    @include paddingGen($prefix, $padding-number, $padding-decimal);
    @while($padding-decimal < 10 and $padding-decimal-inc > 0) {
      $padding-decimal: $padding-decimal + $padding-decimal-inc;
      @if($padding-decimal != 10) {
        @include paddingGen($prefix, $padding-number, $padding-decimal);
      }
    }

    $padding-number: $padding-number + 1;
  }
}
