@use 'sass:math';

$positioning-max: 100;
$positioning-increment: 0.5;
$positioning-start: 0;

@mixin positioningGen($prefix, $number, $decimal, $val) {
  @if($decimal != 10) {
    .#{$prefix}top-#{$number}p#{$decimal} { top: #{$val}vh; }
    .#{$prefix}bottom-#{$number}p#{$decimal} { bottom: #{$val}vh; }
    .#{$prefix}left-#{$number}p#{$decimal} { left: #{$val}vw; }
    .#{$prefix}right-#{$number}p#{$decimal} { right: #{$val}vw; }
  } @else {
    .#{$prefix}top-#{$number + 1} { top: #{$val}vh; }
    .#{$prefix}bottom-#{$number + 1} { bottom: #{$val}vh; }
    .#{$prefix}left-#{$number + 1} { left: #{$val}vw; }
    .#{$prefix}right-#{$number + 1} { right: #{$val}vw; }
  }
}

@mixin positioning($prefix) {
  @while($positioning-start <= $positioning-max) {
    $decimal: $positioning-start * 10 % 10;
    $number: math.floor($positioning-start);

    @include positioningGen($prefix, $number, $decimal, $positioning-start);
    $positioning-start: $positioning-start + $positioning-increment;
  }
}
